#frm-special-tag{
    min-width: 1200px;
    padding: 0 30px;
}
#tbl_specialTag tbody {
    height: 340px; 
}
#tbl_specialTag th {
   text-align: center;
}
#tbl_specialTag td {
   text-align: center;
}
#aui-message-bar{
    width: 100%;
}
#group_btn{
    margin-top: 30px;
}
.special-width-150{
    max-width: 0px;
    word-wrap: break-word;
}
.special-width-250{
    max-width: 0px;
    word-wrap: break-word;
}
.special-width-100{
    max-width: 0px;
    word-wrap: break-word;
}
.special-width-25{
    min-width: 25px;
    width: 25px;
}
.special-auto-120{
    max-width: 0px;
    word-wrap: break-word;
}
.hidden{
    display: none;
}
#execute-progress-bar{
    width: 600px;
    height: 45px;
    border-radius: 3px;
    padding: 8px 10px 0px 10px;
    margin: auto;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0;
    bottom: 0;
    z-index: 9999;
}

.aui-progress-indicator-value{
    margin-top: 5px;
    height: 10px;
    width: 97% !important;
}
a ~ a.btn-link-delete {
    margin-left: 10px;
}

#body-special-control-macro table tr.has-same-special-key{
    background-color: #fe64643b;
}

#main-content table tr.has-same-special-key{
    background-color: #fe64643b !important;
}